  div{
            width: 150px;
            height: 150px;
            background-color: red;
            position: relative;
            animation: myfirstanimation;
            -webkit-animation: myfirstanimation;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-delay: 1s;
            animation-direction: alternate-reverse;
            background-size: cover;
            background-position: center;

        }
        @keyframes myfirstanimation
        {
            0%{background-image:url(../IMAGES/gangstar_dog.webp) ;left:0px;top:0px}
            25%{background-image: url(../IMAGES/dolphin.webp);left:300px;top:0px}
              50%{background-image: url(../IMAGES/penguin.webp);left:300px;top:300px}
                75%{background-image: url(../IMAGES/cat.webp);left:0px;top:300px}
                  100%{background-image:url(../IMAGES/bird.webp);left:0px;top:0px}
        }